body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav .nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.nav-list a.active {
    text-decoration: underline;
}

nav .nav-list li {
    margin: 0 15px;
}

nav .nav-list li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

nav .nav-list li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
}

h1, h2 {
    font-family: 'Permanent Marker', cursive;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container {
    width: calc(100% - 40px);
    overflow: hidden;
    margin: auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    line-height: 1.5;
}

.table td {
    width: 50%;
    vertical-align: top;
    padding: 20px;
    border: none;
    font-size: 16px;
    box-sizing: border-box;
}

.table h2 {
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    font-family: 'Playwrite NO', cursive;
}

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NO:wght@100..400&display=swap');