body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #333;
    color: white;
    padding: 0.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: block;
    margin-bottom: 0.5rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5rem;
    text-align: center;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table td {
    padding: 0.5rem;
    display: block;
}

footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 1rem;
    background: #333;
    color: white;
}

///

.nav-list a.active {
    text-decoration: underline;
}

.container {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}
textarea {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    min-height: 150px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
textarea:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

///

#searchInput {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: auto;
    font-size: 16px;
    width: 100%;
    padding: 9px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#dictionaryList {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#dictionaryList li {
    padding: 15px 10px;
    line-height: 1;
    border-bottom: none;
    background-color: transparent;
}

.word {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: regular;
    font-size: 16px;
}

.definition {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 16px;
}

#languageSelector {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
    padding: 5px;
    font-size: 16px;
}