body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav .nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav .nav-list li {
    margin: 0 15px;
}

nav .nav-list li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

nav .nav-list li a:hover {
    text-decoration: underline;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    margin: 50px;
}

h2 {
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 20px;
    font-family: 'Playwrite NO', cursive;
}

main {
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

p {
    color: #333;
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0;
    padding: 0 20px;
    text-align: left;
  }

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container {
    width: calc(100% - 200px);
    margin: 0 auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.table td {
    width: 50%;
    padding: 10px;
    vertical-align: top;
    position: relative;
}

.table p {
    margin: 0;
    line-height: 1.5;
}

.nav-list a.active {
    text-decoration: underline;
}

.content-container {
    width: calc(100% - 200px);
    margin: 0 auto;
    display: grid; /* Użycie siatki */
    grid-template-columns: repeat(2, 1fr); /* Dwie kolumny o równych szerokościach */
    gap: 50px; /* Odstęp między kolumnami i wierszami */
}

.blog-post {
    display: flex; /* Użycie flex dla .blog-post */
    justify-content: space-between; /* Równomierne rozmieszczenie tytułu i przycisku */
    align-items: center; /* Wyrównanie w pionie */
    padding: 20px;
    border: 1px solid #333; /* Opcjonalna ramka */
    border-radius: 10px;
}

.custom-text {
    color: #333;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
}

.read-more {
    display: inline-block;
    margin-top: 10px;
    margin-left: 250px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    border: 1px solid #333;
    padding: 5px 10px;
    border-radius: 5px;
}

.read-more-dict {
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    border: 1px solid #333;
    padding: 5px 10px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .content-container {
        grid-template-columns: 1fr; /* Na mniejszych ekranach, jedna kolumna */
    }
}

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NO:wght@100..400&display=swap');
